[run]
branch = True
omit =
    picinceptor/__init__.py
    picinceptor/__main__.py
    picinceptor/picinceptor_cli.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
